{% extends 'layouts/base.twig' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <aside class="sidebar col-lg-4 col-xl-3 d-none d-lg-block">
      {% include 'partials/nav.twig' %}
    </aside>
    <section class="searchResults col-12 col-lg-7 col-xl-5 offset-lg-1">
      <h1>{{ posts.found_posts }} innlegg funnet med &ldquo;{{ search_query }}&rdquo;</h1>
      {% for post in posts %}
      <article class="searchResults__item">
        <header class="searchResults__title">
          <div class="imageContainer">
            <a href="{{ post.link }}"><img src="{{ (post.thumbnail.src ? post.thumbnail.src : 'https://via.placeholder.com/150/FFFFFF/FFFFFF?Text=.' ) }}" /></a>
          </div>
          <p><strong>{{post.title}}</strong></p>
        </header>
          <p>{{post.preview.chars(220).read_more('Les mer')}}</p>
      </article>
      {% endfor %}
      <ol class="pagination">
        {% for page in posts.pagination.pages %}
          <li class="{{ page.class }}">
            <a href="{{ page.link }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ol>
    </section>
  </div>
</div>
{% endblock %}